.navigation {
  .category {
    padding: 18px;
    & > li {
      width: 84px;
      height: 84px;
      border-radius: 12px;
      background: $gray01;
      text-align: center;
      transition: 0.3s;

      & > a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2px;
        width: 100%;
        height: 100%;
        padding-top: 2px;
        color: $black01;
        font-size: 13px;

        & > svg {
          font-size: 20px;
        }
      }

      &:hover {
        background-color: $main;

        & > a {
          color: $white01;
        }
        & > svg {
          color: $white01;
        }
      }
    }

    & > li + li {
      margin-top: 20px;
    }

    & > li.active {
      background-color: $main;

      & > a {
        color: $white01;
      }
      & > svg {
        color: $white01;
      }
    }
  }
}
