@import "mixins";

// color
$white01: #fff;
$gray01: #e0e0e0;
$black01: #121212;
$orange01: linear-gradient(
  90deg,
  rgba(255, 118, 88, 1) 0%,
  rgba(255, 173, 130, 1) 100%
);
$orange01-hover: #ff6341;
$orange02: #fff6ef;
$orange03: #ffebd3;
$orange03-hover: #fb8f16;
$red01: #ffddd3;
$red01-hover: #fd6734;
$red02: #fb9e8c;
$red03: #ff7558;
$yellow01: #ffca41;

body {
  background-color: $orange02;
  // background-image: url("../../public/assets/images/page-bg.jpg");
  // background-position: 50%;
  // background-size: cover;
}

.container {
  max-width: 1410px;
  width: 100%;
  margin: 0 auto;
  padding: 250px 0;
  transition: all ease 0.5s;
  @include tablet {
    padding: 40px;
  }

  .container-wrap {
    display: flex;
    gap: 30px;
    @include mobile {
      flex-direction: column;
    }

    .content-box {
      height: 100%;
      background-color: #fff;
      border-radius: 20px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.04);
    }

    .content-box.info {
      position: sticky;
      top: 150px;
      @include tablet {
        width: 255px;
      }
      @include mobile {
        position: relative;
        top: 0;
        width: 100%;
      }
    }

    .content-box.contents {
      overflow: hidden;
      flex: 1;

      .inner {
        padding: 60px;
        @include mobile {
          padding: 30px 20px;
        }
      }
    }

    .content-box.menu {
      position: sticky;
      top: 10px;
      @include tablet {
        display: none;
      }
    }
  }
}

h2.page-title {
  display: inline-block;
  position: relative;
  color: $red01-hover;
  font-size: 40px;
  font-weight: 700;
  z-index: 1;
  @include mobile {
    font-size: 32px;
  }

  &:after {
    display: block;
    position: absolute;
    left: 0;
    bottom: 10px;
    width: 100%;
    height: 10px;
    content: "";
    background: $red02;
    opacity: 0.7;
    z-index: -1;
    @include mobile {
      height: 8px;
    }
  }
}

h3.sub-title {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 26px;
  font-weight: 500;
}

h3.section-title {
  margin-top: 15px;
  color: $red01-hover;
  font-size: 28px;
  font-weight: 500;
}

.section-wrapper {
  margin-top: 30px;
  padding: 45px 60px 60px;
  @include tablet {
    padding: 25px 15px 30px;
  }
  @include mobile {
    padding: 30px 20px;
  }
}
