.modal-contents {
  padding: 16px;
  & > h3 {
    margin: 20px 0 35px;
    color: $red03;
    font-size: 28px;
    text-align: center;
  }

  .about {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    @include tablet {
      flex-direction: column;
    }

    & > li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      flex: 0 0 calc(50% - 5px);
      font-size: 15px;

      & > a {
        &:hover {
          transition: 0.2s;
          color: #ddd;
        }
      }
    }
  }

  .info {
    padding-top: 40px;
    color: $black01;
    word-break: keep-all;
  }

  & > h4 {
    padding-top: 20px;
    font-size: 18px;
    & > * {
      display: inline-flex;
      justify-content: flex-start;
      align-items: center;
      gap: 5px;
      font: inherit;
      text-decoration: underline;

      &:hover {
        transition: 0.3s;
        color: #ddd;
      }
    }
  }

  .img-wrap {
    margin-top: 10px;

    & > li {
      overflow: hidden;
      margin-top: 15px;
      padding: 15px 20px 20px;
      border-radius: 20px;
      background: $red01;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.08);

      & > strong {
        display: block;
        padding-bottom: 10px;
        color: #111;
      }

      .box {
        overflow: hidden;
        border-radius: 12px;
        background-color: #fff;

        .img {
          width: 100%;
          & > img {
            width: 100%;
          }
        }
      }

      .text {
        padding: 15px;
        color: $black01;
        font-size: 14px;
        word-break: keep-all;
      }
    }
  }
}
