.btnClose {
  position: fixed;
  left: 50%;
  top: -50px;
  width: 40px;
  height: 40px;
  margin-left: -20px;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 10;
  & > svg {
    height: 100%;
    color: #fff;
  }
}

.modalOverlay {
  overflow: hidden;
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.451);
  z-index: 10;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 850px;
  height: 80vh;
  padding: 20px;
  border: 1px solid rgb(204, 204, 204);
  border-radius: 20px;
  background: rgb(255, 255, 255);
  outline: none;
  z-index: 20;
  @include tablet {
    width: 100%;
    max-width: 660px;
  }

  & > div {
    position: relative;
    overflow: auto;
    height: 100%;

    /* Scrollbar styling */
    &::-webkit-scrollbar {
      width: 10px; /* Scrollbar width */
    }

    &::-webkit-scrollbar-track {
      background-color: $gray01; /* Light background for the scrollbar track */
      border-radius: 10px;
    }

    &::-webkit-scrollbar-thumb {
      background: $main; /* Darker thumb color */
      border-radius: 10px;
      transition: background 0.3s ease; /* Smooth transition for hover effect */
    }
  }
}
